[Desktop Entry]
Type=Application
Name=JsonStudio
Comment=JSON editor and viewer (Qt)
Exec=jsonstudio %F
Icon=${SNAP}/meta/gui/logo.png
Terminal=false
Categories=Development;Utility;
Keywords=JSON;Editor;Viewer;Validation;Qt;
StartupNotify=true
